<%= simple_form_for(@entry) do |f| %>
<%= f.error_notification %>
<div class="row">
  <div class="span7">
    <%= f.input :title, wrapper: :prepend, label: false do %>
      <%= content_tag :span, "Title", class: "add-on" %>
      <%= f.input_field :title, class: "span6" %>
    <% end %>
  </div>
  <div class="span4 offset1">
    <%= f.input :published,
        as: :boolean,
        label: "Share on SpoutWall" %>
  </div>
</div>
<div class="row">
  <div class="span7">
    <%= f.input :content,
        as: :text,
        label: false,
        placeholder: "Give more details about what you're dealing with",
        input_html: { rows: 7, class: "span7" } %>
  </div>
</div>

<div class="row">
  <div class="span7">
    <div class="well">
      <div class="row">
        <div class="span2">
          <%= f.input :happiness_level,
              input_html: {
                class: "span2 slider",
                :"data-slider-value" => @entry.happiness_level } %>
        </div>
        <div class="span2">
          <%= f.input :anxiety_level,
              input_html: {
                class: "span2 slider",
                :"data-slider-value" => @entry.anxiety_level } %>
        </div>
        <div class="span2">
          <%= f.input :irritation_level,
              input_html: {
                class: "span2 slider",
                :"data-slider-value" => @entry.irritation_level } %>
        </div>
      </div>
      <div class="row">
        <div class="span7">
          <%= f.input :category,
              collection: [
                ["other"],
                ["just feeling off"],
                ["alcohol/drugs"],
                ["body/health"],
                ["dreams/sleep"],
                ["family/friends"],
                ["sex/relationships"],
                ["work/school"],
              ],
              label: "Categorize your entry to understand what bothers or delights you regularly" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, "Log it!",
      class: "btn-large btn-block  btn-primary" %>
</div>

<% end %>
