<div class="row">
  <div class="span5 offset3">
    <%= high_chart("chart_id", @entries.mood_chart) do |c|%>
       <%= "options.colors = #{chart_colors}".html_safe %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>
      Shared entries
    </h3>
    <ul class="nav nav-list">
      <li class="divider"></li>
    </ul>
  </div>
</div>

<!-- Entry -->
<% @entries.reverse.each do |entry| %>
<div class="row">
  <div class="span7">
    <h4>
      <%= entry.title %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="span8">
    <p>
      <%= simple_format(entry.content) %>
    </p>
    <span data-toggle="tooltip" data-placement="right" title="Shared with community">
      <i class="icon-unlock"></i><small> by </small><i class="icon-user"> </i><small> anonymous on </small><i class="icon-calendar"> </i><small> <%= entry.created_at.to_date.strftime('%a %b %d, %Y') %> under</small>
      <span class="label label-inverse"><%= entry.category %></span>
    </span>
  </div>
  <div class="span3 offset1">
    <span class="pull-right">
      You and <b><%= rand(10) %></b> others know the feeling
    </span>
    <br /><br />
    <button class="btn btn-mini btn-inverse pull-right" type="button">
      <i class="icon-heart"></i> been there
    </button>
    <br /><br /><br />
    <% if entry.happiness_level %>
    <p class="text-success">happiness</p>
    <div class="progress">
      <div class="bar bar-success" style="width: <%= width_for(entry.happiness_level) %>%;"></div>
    </div>
    <% end %>

    <% if entry.anxiety_level %>
    <p class="text-warning">anxiety</p>
    <div class="progress">
      <div class="bar bar-warning" style="width: <%= width_for(entry.anxiety_level) %>%;"></div>
    </div>
    <% end %>

    <% if entry.irritation_level %>
    <p class="text-danger">irritation</p>
    <div class="progress">
      <div class="bar bar-danger" style="width: <%= width_for(entry.irritation_level) %>%;"></div>
    </div>
    <% end %>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="span12">
    <ul class="nav nav-list">
      <li class="divider"></li>
    </ul>
  </div>
</div>
<% end %><!-- end of Entry -->