<div class="row">
  <div class="span11 offset1">
    <h3>Login to your account</h3>
  </div>
</div>
<div class="row">
  <div class="span3 offset2">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me,
          input_html: { data: {toggle: :checkbox} },
          as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Login",
          class: "btn-primary btn-large pull-right" %>
    <% end %>
  </div>
  <div class="span2">
  <br /><br /><br />
  <h4 class="text-center">or</h4>
  </div>
  <div class="span4">
    <div class="well">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

