<%= simple_form_for resource,
    as: resource_name,
    url: invitation_path(resource_name),
    html: { :method => :put, class: "form-horizontal" } do |f| %>
<div class="row">
  <div class="span8 offset2">
    <%= image_tag "therapist_signup_callout.png" %>
  </div>
</div>
<br />
<div class="row">
  <div class="span8 offset2">
    <%= f.error_notification %>
    <%= f.hidden_field :invitation_token %>
    <%= f.input :name,
        label: false,
        placeholder: "Your name" %>
    <%= f.input :password,
        label: false,
        placeholder: "Your password" %>
    <%= f.input :password_confirmation,
        label: false,
        placeholder: "Your password again =(" %>
    <%= f.button :submit, "View your client's journal!",
        class: "btn-large btn-block btn-success" %>
  </div>
</div>
<% end %>
