<%= simple_form_for resource,
    as: resource_name,
    url: invitation_path(resource_name),
    html: {method: :post, class: 'form-vertical'} do |f| %>
<div class="row">
  <div class="span4 offset4">
    <%= image_tag "invitation_callout.png" %>
  </div>
</div>
<br />
<div class="row">
  <div class="span4 offset4">
    <%= f.error_notification %>
    <%= f.input :email,
        label: false,
        placeholder: "Your therapist's email" %>
    <%= f.button :submit, "Give secure access!",
        class: "btn-large btn-block btn-success" %>
  </div>
</div>

<% end %>
