<div class="row">
  <div class="span6">
    <%= link_to "Spoutlets", root_path, :class => 'brand' %>
    <br />
    <span class="text-inverse"><small>the <i class="icon-wrench"></i> you need for mental wellness</small></span>
  </div>
  <!-- Right Nav -->
  <div class="span6">
    <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li>
        <%= link_to raw('<i class="icon-group" data-toggle="tooltip" title="Your community" data-placement="bottom"></i>'),
              entries_path %>
      </li>
      <li>
        <%= link_to raw('<i class="icon-book" data-toggle="tooltip" title="Your journal" data-placement="bottom"></i>'),
              current_user %>
      </li>
      <li>
        <%= link_to raw('<i class="icon-share" data-toggle="tooltip" title="Share with therapist" data-placement="bottom"></i>'),
              new_therapist_invitation_path %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle"
        data-toggle="dropdown"><i class="icon-cog"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">settings</a></li>
          <li class="divider"></li>
          <li><%= link_to 'logout', signout_path %></li>
        </ul>
      </li>
      <%= link_to raw('<i class="icon-plus"></i> log an entry'),
            new_entry_path,
            class: "btn btn-small btn-embossed btn-primary",
            style: "margin-top: 10px;",
            method: :get  %>
    <% else %>
      <li>
        <%= link_to 'register or login', signin_path %>
      </li>
      <%= link_to raw('<i class="icon-plus"></i> log an entry'),
            new_entry_path,
            class: "btn btn-small btn-embossed btn-primary",
            style: "margin-top: 10px;",
            method: :get  %>
    <% end %>
    </ul>
  </div> <!-- end of Right Nav -->
</div>
